@{
    var ui = ViewBag.UI as Baseapp.Models.BootstrapModel;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - BaseApp</title>

    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />

    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar bg-dark" id="sidePanel">
            <div class="logo text-center p-3">
                <img src="~/Content/Images/logo.png" class="img-fluid" />
            </div>

            <ul class="menu list-unstyled">
                @if (ui != null && ui.LoginVisible)
                {
                    <li><a href="@Url.Action("Login","Account")"><i class="fa fa-user"></i> <span>Login</span></a></li>
                }
                @if (ui != null && ui.DashboardVisible)
                {
                    <li><a href="@Url.Action("Index","Dashboard")"><i class="fa fa-gauge"></i> <span>Dashboard</span></a></li>
                }
                @if (ui != null && ui.SettingsVisible)
                {
                    <li><a href="@Url.Action("Index","Settings")"><i class="fa fa-gear"></i> <span>Settings</span></a></li>
                }
                @if (ui != null && ui.ReportVisible)
                {
                    <li><a href="@Url.Action("Index","Reports")"><i class="fa fa-file"></i> <span>Reports</span></a></li>
                }
                @if (ui != null && ui.LogoutVisible)
                {
                    <li><a href="@Url.Action("Logout","Account")"><i class="fa fa-arrow-right-from-bracket"></i> <span>Sign Out</span></a></li>
                }

                <li><a href="javascript:void(0)" id="btnMinimize"><i class="fa fa-chevron-down"></i> <span>Minimize</span></a></li>
            </ul>
        </div>

        <div class="content p-4">
            @RenderBody()
        </div>
    </div>

    <!-- jQuery + Bootstrap Bundle -->
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Sidebar Minimize -->
    <script>
        $("#btnMinimize").click(function () {
            $("#sidePanel").toggleClass("collapsed");
        });
    </script>
</body>
</html>
